@{
}

<div class="container has-text-centered small-container">
    <h1 class="title is-3">About Me</h1>
    <div class="container image-container">
        <img src="@Url.Content("../images/AbigailHolloway_small.png")" />
    </div>
    <br />
    <p>Hi! My name is Abigail Holloway. I'm a software engineer based in Raleigh, North Carolina. 
        I created this site to be a landing page for my contact info and also a place to practice 
        different coding techniques using ASP.NET Core and Microsoft Azure. It's also giving me the opportunity to
        develop my UX design skills, which I do not have as much career experience with. I'm also hoping to start 
        a blog soon, so check back in for progress on that!
    </p>
</div>

