@{
}

<div class="container has-text-centered">
    <h1 class="title is-1">Abigail Holloway</h1>
    <h2 class="subtitle is-4">Software Engineer | ASP.NET C# | Backend Specialty</h2>
    <div class="container">
        <a href="https://github.com/LiffAM1">
            <span class="icon is-medium is-white">
                <i class="fab fa-github fa-lg"></i>
            </span>
        </a>
        <a href="https://www.linkedin.com/in/abigail-holloway-97001b127/">
            <span class="icon is-medium is-white">
                <i class="fab fa-lg fa-linkedin"></i>
            </span>
        </a>
        <a href="https://www.facebook.com/abbi.liff">
            <span class="icon is-medium is-white">
                <i class="fab fa-lg fa-facebook"></i>
            </span>
        </a>
        <a href="https://www.instagram.com/abnoxious1/">
            <span class="icon is-medium is-white">
                <i class="fab fa-lg fa-instagram"></i>
            </span>
        </a>
    </div>
</div>

